.cat-image-container {
    height: 150px;
    min-width: 150px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 20px;
}

.all-businesses-page-container {
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.individual-business-listing-container {
    max-width: 800px;
    border: 1px solid #d1d5db;
    margin: 24px;
    border-radius: 5px;
}

.individual-business-listing-container:hover {
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.08);
}

.cat-text-container {
    margin-right: 20px;
}

.searchResult h2 {
    font-size: 1.2rem;
}

.cat-text-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
}

#biz-name {
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 20px;
}

.cat-text-lower {
    position: relative;
    bottom: 30px;
}

#no-bottom {
    margin-bottom: 0px;
}

.wrong-pic {
    height: 500px;
    width: 800px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 10px;
}

.no-result {
    min-height: 560px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
}