/* TODO Add site wide styles */


* {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* .body {
    margin: 0;
    width: 100vw;
    padding: 0;
}

#root {
    margin: 0;
    width: 100vw;
    padding: 0;
} */

button{
    background-color: #E00707;
    border: none;
    color: white;
    font-size: small;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

button:hover {
    background-color: #BF2519;
    cursor: pointer;
}