#delete-on-info {
    background-color: transparent;
    border: none;
    color: #027A97;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
    right: 100px;
    margin-top: 10px;
}

#delete-on-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.delete-biz-modal {
    width: 550px;
    height: 250px;
    padding: 20px 40px;
}

.delete-biz-modal p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.delete-biz-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
}

.delete-biz-buttons button {
    width: 175px;
    height: 40px;
    font-size: 1rem;
}

.modal-cancel {
    background-color: white;
    color: black;
    border: 1px solid #d1d5db;
    margin-right: 20px;
}

.modal-cancel:hover {
    background-color: #f5f5f4;
}
