#log-out-button {
    height: 43px;
    margin-left: 10px;
}

.login-page {
    height:390px;
    width: 550px;
    margin: 0 auto;
    margin-top: 120px;
}

.signup-page {
    height: 430px;
    width: 550px;
    margin: 0 auto;
    margin-top: 80px;
}

label {
    font-size: 1.2rem;
    min-width: 200px;
    padding-top: 8px;
    font-weight: 500;
}

.form-input {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-items: center;
}

.login-page input, .signup-page input {
    min-width: 300px;
    height: 40px;
    border: 1px solid #a1a1aa;
    border-radius: 5px;
    padding-left: 15px;
}

.login-page input:focus, .signup-page input:focus {
    outline: none;
}

#login-form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

#login-button, #sign-up-botton, #demo-user-btn{
    width: 315px;
    height: 40px;
    margin-left: 200px;
    font-size: 16px
}

.error-msg {
    margin-bottom: 10px;
    color: #BF2519;
}

#logout-button {
    color: #525252;
}

#logout-button:hover {
    cursor: pointer;
}

#demo-user-btn {
    margin-top: 30px;
    color: #2D2E2F;
    background-color: transparent;
    border: 1px solid #d1d5db;
}

#demo-user-btn:hover {
    cursor: pointer;
    background-color: #f5f5f4;
}