.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff00;
}



.profile-top-bar {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 50vw;
    padding: 5%;
    padding-bottom: 2%;
}

.profile-content {
    display: flex;
    flex-direction: row;
    width: 50vw;
    cursor: pointer;
    border-top: 1px grey solid;

}

.profile-img{
    height: 215px;
    width: 215px;
    border-radius: 5px;
    padding-right: 30px;
}

.profile-select{
    background-color: white;
    color:black;
    border-bottom: 1px grey solid;
    width: 215px;
    height: 35px;
    padding: 5px 0 0 5px;
    
}
.profile-select:hover{
    background-color: rgb(204, 204, 204);
}

.profile-selected-container{
    margin-left: 30px;
   
}


.review-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    height:fit-content;
    margin: 30px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    padding: 5%;
}

.review-card:hover {
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.08);
}

.review-card-left {
    height: 200px;
    min-width: 200px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.review-card-right {
    overflow: clip;
    text-overflow:ellipsis;
    padding-left: 20px;
    padding-right: 12px;
}

.grey-div{
    position: absolute;
    background-color: rgb(238, 238, 238);
    height: 25vh;
    width: 100vw;
    z-index: -1;
}

.yellow{
    color: orange;
    padding-right: 7px;
}
.grey{
    color:grey
}
.icon-space{
    padding-left: 15px;

}
.profile-calculations{
    display: flex;
    padding-right:20px;
    justify-content: space-between;
}


.curr-selected{
    background-color: rgb(223, 222, 222);
    color:black;
    border-left: 3px solid #d32323;
    border-bottom: 1px grey solid;
    width: 215px;
    height: 35px;
    padding: 5px 0 0 5px;
}

.update-profile-pic{
    background-color: rgb(255, 255, 255);
    color:#0073bb;
    border: .5px solid grey;
}


.update-profile-pic:hover{
    background-color: #E00707;
    color:white;
    text-decoration: underline;
}

.upload-img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
}

