.business_card_left {
    height: 200px;
    min-width: 200px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.business_card {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 200px;
}

.business_card_right {
    overflow: clip;
    text-overflow:ellipsis;
}