.business_card_left {
    height: 200px;
    min-width: 200px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.business_card {
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 200px;
    margin: 30px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
}

.business_card:hover {
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.08);
}

.business_card_right {
    overflow: clip;
    text-overflow:ellipsis;
    padding-left: 20px;
    padding-right: 12px;
}

.business_card_container {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.recommendations {
    max-width: 1300px;
    margin: 0 auto;
}

.recommendations h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}

.categories h2 {
    text-align: center;
    font-weight: 700;
}

.business_name {
    font-weight: 700;
    font-size: 1.3rem;
}

.business_description {
    font-weight: 400;
    font-size: 0.9rem;
    position: relative;
    bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}

.fiveFilled {
    position: relative;
    bottom: 37px;
    width: 160px; /* width of container */
    height: 30px; /* height of container */
    overflow: hidden;
}

.fiveFilled img {
    width: 160px; /* width of container */
    height: 30px; /* height of container */
    position: relative;
}

.banner {
    width: 100%;
    height: 600px;
    background-size: 100% auto;
    background-position: center;
}

.categories_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.single_category {
    width: 256px;
    height: 183px;
    border: 1px solid #d1d5db;
    margin: 30px;
    text-align: center;
}

.single_category p {
    font-family: 'Open Sans', sans-serif;
}

.single_category:hover {
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.08);
}

.category_icon {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 45px;
}