.image_container {
    height: 300px;
    width: 400px;
    background-position: center center;
    background-size: auto 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.background {
    width: 1600px;
}