.imgs-slider-container{
    position: relative;
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}

.slider-image{
    position: relative;
    left:15%;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
.img-info-container{
    position: relative;
    left:15%;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.right-arrow{
    position: absolute;
    top:50%;
    right:20px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 35px;
    height: 35px;
}
.left-arrow{
    position: absolute;
    top:50%;
    left:20px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 35px;
    height: 35px;
    color:white;

    
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05);
}